[Desktop Entry]
Type=Application
Version=1.0
Name=Install StormOS
GenericName=Live Installer (Calamares)
Comment=Install the operating system to disk
Exec=sh -c "/etc/calamares/launch.sh"
Icon=menubutton
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;Desktop
